<footer class=" text-center" style="background-color: #E5E4E2">
  <div class="row" >
    <div class="col-md-4">
      <h4>Location</h4>
      <p>Molyko Buea, opposite UB junction</p>
      <span>P.O.Box: 25 236</span>
    </div>
    <div class="col-md-4">
      <h4>Contact</h4>
      <img src="assets/img/whatsapp.png" width="40px" height="40px">&nbsp; &nbsp;
      <img src="assets/img/facebook.png" width="30px" height="30px">&nbsp; &nbsp;
      <img src="assets/img/twitter.png" width="40px" height="40px">
      <br>
      <span>exampleemail@gmail.com</span>
    </div>
    <div class="col-md-4">
      <h5>Subscribe to our newsletter</h5>
      <form class="d-flex">
        <input type="text" placeholder="enter your email" class="form-control" style="border-radius: 0px">
        <button type="submit" class="btn btn-dark" style="border-radius: 0px">Subscribe</button>
      </form>
      <p class="form-text">Join our email subscription now to get updates on promotions and coupons.</p>

    </div>
  </div>
  <br>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" >Product catalog</a>
  </div>
</footer>

