<footer class=" text-center" style="background-color: #E5E4E2">
  <div class="row" >
    <div class="col-md-4">
      <h4>Location</h4>
      <p>Molyko Buea, opposite UB junction</p>
    </div>
    <div class="col-md-4">
      <h4>Contact</h4>
      <img src="assets/whatsapp.png" width="40px" height="40px">&nbsp; &nbsp;
      <img src="assets/facebook.png" width="30px" height="30px">&nbsp; &nbsp;
      <img src="assets/twitter.png" width="40px" height="40px">
      <br>
      <span>exampleemail@gmail.com</span>
    </div>
    <div class="col-md-4">
      <p>Product Catalog</p>
      <span class="form-text">Sponsored by company ltd</span>
    </div>
  </div>
  <br>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" >Product catalog</a>
  </div>
</footer>

