<app-header></app-header>
<div class="container">
  <h3>Manage your categories</h3>
  <br>
  <table class="table table-hover  table-bordered border-success">
    <thead>
    <tr>
      <th scope="col">Category name</th>
      <th scope="col" >Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cat of cats">
      <td>{{cat.name}}</td>
      <td>&nbsp;
        <button type="button" class="btn btn-primary" (click)="edit(cat.id)"><img src="assets/img/ediit.png" width="20px" height="20px"> Edit</button>&nbsp; &nbsp; &nbsp;
        <button type="button" class="btn btn-danger" (click)="delete(cat.id)"><img src="assets/img/del.png" width="20px" height="20px"> Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>


