table th{
  background-color: #F8F8FF;
  height: 60px;
  box-shadow: 1px 1px 2px gray;
  text-align: center;
}
table {
  box-shadow: 1px 1px 4px gray;
}
table td{
  height: 50px;
  text-align: center;
}
