<app-header></app-header>
<a routerLink="/db"><img src="assets/img/arrow.png" width="30px" height="30px"></a>
<div class="container offset-md-1">
  <div style="text-align: center;" *ngIf="isloading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="alert alert-danger" *ngIf="error" style="text-align: center">
    <h4>An error occured</h4>
    <p>{{error.statusText}}</p>
  </div>
  <div class="alert alert-danger" *ngIf="cats.length < 1 && !isloading" style="text-align: center">
    <h4>No categories yet!</h4>
    <p>Create a category first before creating a product.</p>
    <button class="btn btn-success" routerLink="/cc">Create category</button>
  </div>
  <div class="alert alert-success" *ngIf="success" style="text-align: center">
    <h4>Product successfully created!</h4>
  </div>
  <div class="row">
    <div class="col-md-5 im" [ngStyle]="{backgroundImage:'url(assets/img/pro.jpg)'}">
      <div style="text-align: center; margin-top: 30px">
        <h4>Create product</h4>
        <span class="form-text">Fill the form to create a product</span>
      </div>
    </div>

    <div class="col-md-6 form" >
      <div class="container">
      <form  [formGroup]="createP" (submit)="onSubmit( createP.value)">
        <br>
        <div class="form-group">
          <label>Product name</label>
          <input type="text" id="name" class="form-control" formControlName="name">
          <span *ngIf="f.name.invalid && f.name.touched" class="form-text"> Name is required</span>
        </div>
        <div class="form-group">
          <label>Quantity</label>
          <input type="number" id="quant" class="form-control" formControlName="quant">
          <span *ngIf="f.quant.invalid && f.quant.touched" class="form-text"> This field is required</span>
        </div>

        <div class="form-group">
          <label>Unit price</label>
          <input type="number" id="uprice" class="form-control" formControlName="uprice">
          <span *ngIf="f.uprice.invalid && f.uprice.touched" class="form-text"> This field is required</span>
        </div>
        <div class="form-group">
          <label>Currency</label>
          <input type="text" id="cur" class="form-control" formControlName="cur">
          <span *ngIf="f.cur.invalid && f.cur.touched" class="form-text"> This field is required</span>
        </div>
        <div class="form-group">
          <label>Product description</label>
          <input type="text" id="des" class="form-control" formControlName="des">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <span>Select a category</span>
              <select [hidden]="cats.length< 1 && !isloading" class="form-control form-select" formControlName="cat"  >
                <option  *ngFor="let cat of cats" value="{{cat.name}}" >{{cat.name}}</option>
              </select>
              <span *ngIf="f.cat.invalid && f.cat.touched" class="form-text"> This field is required</span>
              <br>
              <span *ngIf="cats.length < 1" class="form-text"> No categories yet</span>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Product image</label>
              <input type="file" id="pi" class="form-control" formControlName="pi">
              <span *ngIf="f.pi.invalid && f.pi.touched" class="form-text"> This field is required</span>
            </div>
          </div>
        </div>

        <br>
        <div>
          <button type="submit" [disabled]="createP.invalid" class="btn btn-warning btn-lg color">Create product</button>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-lg" routerLink="/db">Cancel</button>

        </div>

      </form>
      </div>
      <br>
    </div>
  </div>
  </div>
<br>
<br>

