<app-header></app-header>
<a routerLink="/db"><img src="assets/img/su.png" width="50px" height="50px"></a>
<div class="container">
  <h3>Manage your products</h3>
  <div class="row">
  <div class="col-md-3 col-sm-6"  *ngFor="let product of products">
    <div class="card" style="width: 18rem;">
      <img [src]="product.pi" class="card-img-top img-thumbnail im" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Quantity: {{product.quant}}</p>
        <p class="card-text" >Unit price: <span style="color: crimson">{{product.uprice}}{{product.cur}}</span></p>
        <p class="card-text">Category: {{product.cat}}</p>
        <p class="card-text">{{product.des}}</p>

        <div  style="text-align: center">
          <br>
          <button class="btn btn-primary"><img src="assets/img/ediit.png" width="20px" height="20px"> Edit</button>&nbsp; &nbsp; &nbsp;
          <button class="btn btn-danger"><img src="assets/img/del.png" width="20px" height="20px"> Delete</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
</div>

