<app-header></app-header>
<br>
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 style="color:coral; text-align: center ">Product Detail</h4>
    </div>

    <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <div style="text-align: center">
        <img src="assets/img/jwr.jpg" style="max-height: 300px" class="img-fluid">
      </div>
      </div>
      <div class="col-md-7">
        <h4>Product name: Jewelry</h4>
        <br>
        <h5>Quantity: 20</h5>
        <br>
        <h5>Unit price: 5000frs</h5>
        <br>
        <h5>Currency: frs</h5>
        <br>
        <h4>Category: Fashion</h4>
      </div>
    </div>
</div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>

