<app-header></app-header>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 style="color:coral; "><marquee scrollamount="12">User Dashoard</marquee></h4>
    </div>

    <div class="card-body" >
      <div class="row">
        <a class="col-md-5 col-sm-12 offset-md-1" routerLink="/cc">
          <br>
          <div class="sub">
              <br>
              <img src="assets/img/cc.png" width="100px" height="80px">
              <p>Create Categories</p>
              <span class="form-text">Click to create category</span>
          </div>

        </a>
        <a class="col-md-5 col-sm-12 " routerLink="/mc">
          <br>
          <div class="sub">
              <br>
              <img src="assets/img/mc.png" width="100px" height="80px">
              <p>Manage Categories</p>
              <span class="form-text">Click to manage your categories</span>
          </div>

        </a>
      </div>

      <div class="row">
        <a class="col-md-5 col-sm-12 offset-md-1" routerLink="/cp">
          <br>
          <div class="sub">
              <br>
              <img src="assets/img/cp.png" width="100px" height="80px">
              <p>Create Product</p>
              <span class="form-text">Click to create product</span>
          </div>

        </a>
        <a class="col-md-5 col-sm-12 " routerLink="/mp">
          <br>
          <div class="sub">
              <br>
              <img src="assets/img/mp.png" width="100px" height="80px">
              <p>Manage Products</p>
              <span class="form-text">Click to manage your products</span>
          </div>
          <br>
          <br>
        </a>
    </div>
  </div>

  </div>
</div>
<br>
<br>
<app-footer></app-footer>
