<app-header></app-header>
<div class="container">
  <h4 style="color:coral; "><marquee scrollamount="12">User Dashoard</marquee></h4>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <br>
      <div class="sub">
        <a routerLink="/cc">
          <img src="assets/cc.png" width="100px" height="80px">
          <hr>
          <p>Create Categories</p>
        </a>
      </div>

    </div>
    <div class="col-md-6 col-sm-12">
      <br>
      <div class="sub">
        <a routerLink="/mc">
          <img src="assets/mc.png" width="100px" height="80px">
          <hr>
          <p>Manage Categories</p>
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <br>
      <div class="sub">
        <a routerLink="/cp">
          <img src="assets/cp.png" width="100px" height="80px">
          <hr>
          <p>Create Product</p>
        </a>
      </div>

    </div>
    <div class="col-md-6 col-sm-12">
      <br>
      <div class="sub">
        <a routerLink="/mp">
          <img src="assets/mp.png" width="100px" height="80px">
          <hr>
          <p>Manage Products</p>
        </a>
      </div>

    </div>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
