<app-header></app-header>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 style="color:coral; "><marquee scrollamount="12">User Dashoard</marquee></h4>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-5 col-sm-12 offset-md-1">
          <br>
          <div class="sub">
            <a routerLink="/cc">
              <br>
              <img src="assets/cc.png" width="100px" height="80px">
              <p>Create Categories</p>
              <span class="form-text">Click to create category</span>
            </a>
          </div>

        </div>
        <div class="col-md-5 col-sm-12 ">
          <br>
          <div class="sub">
            <a routerLink="/mc">
              <br>
              <img src="assets/mc.png" width="100px" height="80px">
              <p>Manage Categories</p>
              <span class="form-text">Click to manage your categories</span>
            </a>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-sm-12 offset-md-1">
          <br>
          <div class="sub">
            <a routerLink="/cp">
              <br>
              <img src="assets/cp.png" width="100px" height="80px">
              <p>Create Product</p>
              <span class="form-text">Click to create product</span>
            </a>
          </div>

        </div>
        <div class="col-md-5 col-sm-12 ">
          <br>
          <div class="sub">
            <a routerLink="/mp">
              <br>
              <img src="assets/mp.png" width="100px" height="80px">
              <p>Manage Products</p>
              <span class="form-text">Click to manage your products</span>
            </a>
          </div>
          <br>
          <br>
        </div>
    </div>
  </div>

  </div>
</div>
<br>
<br>
<app-footer></app-footer>
